@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Limelight&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,300&family=Philosopher&display=swap');

/* font-family: 'Homemade Apple', cursive;

font-family: 'Limelight', cursive;

font-family: 'Lobster', cursive; */


html {
  box-sizing: border-box;
}

*, *:before,*:after {
  box-sizing: inherit;
}

.content-box-element {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertically-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.google-font-limelight{
  font-family: 'Limelight', cursive;
 
}

.google-font-lobster{
  font-family: 'Lobster', cursive;
}

.google-font-homemade-apple{
  font-family: 'Homemade Apple', cursive;
}

.google-font-philosopher{
  font-family: 'Philosopher', sans-serif;
}