.btn__container-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 15px;
}

.btn__char{
  width: 40px;
}

@media screen and (max-width: 315px) {
  .btn__container-group{
    /* border: 2px solid green; */
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 305px) {
  .btn__container-group{
    /* border: 2px solid blue; */
    width: 85%;
  }
}